@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
  @font-face {
    font-family: 'Inter';
    font-weight: 400;
    font-style: normal;
    src: url('../public/fonts/Inter-Regular.woff2') format('woff2');
  }
  @font-face {
    font-family: 'Inter';
    font-weight: 400;
    font-style: italic;
    src: url('../public/fonts/Inter-Italic.woff2') format('woff2');
  }
  @font-face {
    font-family: 'Inter';
    font-weight: 700;
    font-style: normal;
    src: url('../public/fonts/Inter-Bold.woff2') format('woff2');
  }
  @font-face {
    font-family: 'Inter';
    font-weight: 700;
    font-style: italic;
    src: url('../public/fonts/Inter-BoldItalic.woff2') format('woff2');
  }
} */

/* @font-face {
  font-family: 'Inter';
  font-weight: 400;
  font-style: normal;
  src: url('../public/fonts/Inter-Regular.woff2') format('woff2');
} */

body {
  color: white;
  /* font-face: 'Inter'; */
}

input {
  color: black;
}

/* .cm-editor {
  background-color: #090e1a;
  overflow: scroll;
}

.cm-gutters {
  background-color: #090e1a !important;
} */

/* .cm-editor .cm-content {
  font-size: 16px;
  line-height: 1.5;
  white-space: pre-wrap;
  width: 90%;
} */

/* #instructions-editor::-webkit-scrollbar {
  background-color: red;
} */
