@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
  @font-face {
    font-family: 'Inter';
    font-weight: 400;
    font-style: normal;
    src: url('../public/fonts/Inter-Regular.woff2') format('woff2');
  }
  @font-face {
    font-family: 'Inter';
    font-weight: 400;
    font-style: italic;
    src: url('../public/fonts/Inter-Italic.woff2') format('woff2');
  }
  @font-face {
    font-family: 'Inter';
    font-weight: 700;
    font-style: normal;
    src: url('../public/fonts/Inter-Bold.woff2') format('woff2');
  }
  @font-face {
    font-family: 'Inter';
    font-weight: 700;
    font-style: italic;
    src: url('../public/fonts/Inter-BoldItalic.woff2') format('woff2');
  }
} */

/* @layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 20px;
    height: 20px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: #f7f4ed;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #e0cbcb;
    border-radius: 100vh;
    border: 3px solid #f6f7ed;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #c0a0b9;
  }
} */

@font-face {
  font-family: 'Inter';
  font-weight: 400;
  font-style: normal;
  src: url('../public/fonts/Inter-Regular.woff2');
}

body {
  color: white;
  /* font-face: 'Inter'; */
}

input {
  color: black;
}

.cm-editor {
  background-color: #090e1a;
  /* overflow: scroll; */
}

.cm-line {
  padding: 0.25rem 0.5rem !important;
}

/* .cm-scroller {
  overflow-y: auto;
} */

.cm-line .cm-activeLine {
  /* background-color: red !important; */
}

.cm-gutters {
  background-color: #090e1a !important;
}

.cm-editor .cm-content {
  font-size: 16px !important;
  line-height: 1.5 !important;
  white-space: pre-wrap;
  margin: 0;
  padding: 0;
}

.cm-activeLineGutter,
.cm-activeLine {
  background-color: #141f38 !important;
}

.cm-gutterElement {
  display: flex !important;
  align-items: center !important;
}

.cm-gutterElement span {
  margin-top: -4px;
}

/* #instructions-editor::-webkit-scrollbar {
  background-color: red;
} */

.scrollbar::-webkit-scrollbar {
  width: 8px;
  height: auto;
}

.scrollbar::-webkit-scrollbar-track {
  border-radius: 0;
  background: #1e293b;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #475569;
  border-radius: 0;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #64748b;
}

/* .scrollbar {
  background-color: rgba(255, 255, 255, 0.1);
} */

.filled-button:hover {
  box-shadow: 0px 0px 20px rgba(163, 230, 53, 0.5);
}

.lang-logo {
  filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0));
}

.lang-logo:hover {
  filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.4));
}

.lang-logo-active {
  filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.4));
}

li::marker {
  color: #a3e635;
}

.gradient-text {
  /* Fallback: Set a background color. */
  background-color: red;

  /* Create the gradient. */
  background-image: linear-gradient(25deg, #84cc16, #a3e635);

  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
